<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="complete_car_fixed">
  <link
    name="body_car_chassis">
    <inertial>
      <origin
        xyz="7.10045591203468E-05 0.00451681538190256 0.0835422273180223"
        rpy="0 0 0" />
      <mass
        value="28.3852845916776" />
      <inertia
        ixx="0.234027226653602"
        ixy="-1.52350906570416E-06"
        ixz="9.20906417344322E-06"
        iyy="0.278121451726347"
        iyz="-0.00023909214768244"
        izz="0.438733635082758" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/body_car_chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/body_car_chassis.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="body_car_wheel_left">
    <inertial>
      <origin
        xyz="-1.42112973111619E-06 -7.6668130766927E-07 -0.0458401618070401"
        rpy="0 0 0" />
      <mass
        value="1.55682391481766" />
      <inertia
        ixx="0.0196620727842836"
        ixy="-8.95629138787301E-07"
        ixz="4.85678375011339E-09"
        iyy="0.0196631942351112"
        iyz="-1.44805774300457E-08"
        izz="0.0351217717900437" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/body_car_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/body_car_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_car_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0 0.26953 0.0450000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="body_car_wheel_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="body_car_wheel_right">
    <inertial>
      <origin
        xyz="-1.42113010137557E-06 -7.66681504428546E-07 0.0450001618070568"
        rpy="0 0 0" />
      <mass
        value="1.55682350721719" />
      <inertia
        ixx="0.0196619814383464"
        ixy="-8.95629139077082E-07"
        ixz="-4.8567835021032E-09"
        iyy="0.019663102889176"
        iyz="1.4480577435456E-08"
        izz="0.0351215520940664" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/body_car_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/body_car_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_car_wheel_right_joint"
    type="continuous">
    <origin
      xyz="0 -0.26869 0.0450000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="body_car_wheel_right" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="head_car_wheel_left">
    <inertial>
      <origin
        xyz="-1.4211297416971E-06 -7.66681303051436E-07 -0.0458401618070384"
        rpy="0 0 0" />
      <mass
        value="1.55682391481784" />
      <inertia
        ixx="0.019662072784285"
        ixy="-8.95629138617794E-07"
        ixz="4.85678391295934E-09"
        iyy="0.0196631942351138"
        iyz="-1.44805778337701E-08"
        izz="0.0351217717900471" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/head_car_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/head_car_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_car_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0.552977027756269 0.269454265283014 0.04445243146204"
      rpy="-1.57282819842474 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="head_car_wheel_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="head_car_wheel_right">
    <inertial>
      <origin
        xyz="-1.42113009684413E-06 -7.66681506208372E-07 0.0458401618070566"
        rpy="0 0 0" />
      <mass
        value="1.55682350721722" />
      <inertia
        ixx="0.0196619814383472"
        ixy="-8.95629138222092E-07"
        ixz="-4.85678372707691E-09"
        iyy="0.0196631028891757"
        iyz="1.44805774178681E-08"
        izz="0.0351215520940667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/head_car_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/head_car_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_car_wheel_right_joint"
    type="continuous">
    <origin
      xyz="0.552977027756237 -0.269604621962139 0.0455477314291638"
      rpy="-1.57282819842474 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="head_car_wheel_right" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="tail_car_wheel_left">
    <inertial>
      <origin
        xyz="-1.42112972900676E-06 -7.66681308956435E-07 -0.0458401618070386"
        rpy="0 0 0" />
      <mass
        value="1.55682391481766" />
      <inertia
        ixx="0.0196620727842825"
        ixy="-8.95629138567279E-07"
        ixz="4.85678374986245E-09"
        iyy="0.0196631942351119"
        iyz="-1.4480578026287E-08"
        izz="0.0351217717900435" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/tail_car_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/tail_car_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tail_car_wheel_left_joint"
    type="continuous">
    <origin
      xyz="-0.552977027756238 0.269604621962139 0.0455477314291636"
      rpy="-1.56876445516506 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="tail_car_wheel_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="tail_car_wheel_right">
    <inertial>
      <origin
        xyz="-1.42113011025735E-06 -7.66681496521676E-07 0.045840161807055"
        rpy="0 0 0" />
      <mass
        value="1.5568235072174" />
      <inertia
        ixx="0.0196619814383487"
        ixy="-8.95629138469562E-07"
        ixz="-4.85678402566518E-09"
        iyy="0.0196631028891769"
        iyz="1.44805782550145E-08"
        izz="0.0351215520940696" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/tail_car_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_fixed/meshes/tail_car_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tail_car_wheel_right_joint"
    type="continuous">
    <origin
      xyz="-0.552977027756269 -0.269454265283014 0.0444524314620399"
      rpy="-1.56876445516506 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="tail_car_wheel_right" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>