<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="complete_car_alternative">
  <link
    name="body_car_chassis">
    <inertial>
      <origin
        xyz="-1.07379532542362E-05 0.00614478162640497 0.0707826442012615"
        rpy="0 0 0" />
      <mass
        value="6.95519132903593" />
      <inertia
        ixx="0.0732473205493804"
        ixy="9.89605428643225E-07"
        ixz="2.08550810988898E-06"
        iyy="0.0884815109705228"
        iyz="-7.9690319104687E-05"
        izz="0.141541814514047" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/body_car_chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/body_car_chassis.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="body_car_wheel_left">
    <inertial>
      <origin
        xyz="-1.42112973111619E-06 -7.6668130760682E-07 -0.0458401618070401"
        rpy="0 0 0" />
      <mass
        value="1.55682391481766" />
      <inertia
        ixx="0.0196620727842836"
        ixy="-8.95629138787671E-07"
        ixz="4.85678375017796E-09"
        iyy="0.0196631942351112"
        iyz="-1.4480577429523E-08"
        izz="0.0351217717900437" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/body_car_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/body_car_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_car_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0 0.26953 0.0450000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="body_car_wheel_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="body_car_wheel_right">
    <inertial>
      <origin
        xyz="-1.42113010137557E-06 -7.66681504320993E-07 0.0450001618070568"
        rpy="0 0 0" />
      <mass
        value="1.55682350721719" />
      <inertia
        ixx="0.0196619814383463"
        ixy="-8.95629139076222E-07"
        ixz="-4.85678350286746E-09"
        iyy="0.0196631028891759"
        iyz="1.44805774445748E-08"
        izz="0.0351215520940663" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/body_car_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/body_car_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_car_wheel_right_joint"
    type="continuous">
    <origin
      xyz="0 -0.26869 0.0450000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="body_car_wheel_right" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="spm1_base">
    <inertial>
      <origin
        xyz="0.0092110615711003 4.1087370578636E-13 -9.67686411345973E-06"
        rpy="0 0 0" />
      <mass
        value="0.383954508133489" />
      <inertia
        ixx="0.000538960992417046"
        ixy="-1.4295484876954E-16"
        ixz="1.56345076706403E-17"
        iyy="0.000277354645392898"
        iyz="1.83682030638043E-16"
        izz="0.000284349626167672" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_base_joint"
    type="fixed">
    <origin
      xyz="0.18 0 0.0820210428191438"
      rpy="0 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="spm1_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="spm1_leg2_proximal">
    <inertial>
      <origin
        xyz="0.0415052979813348 0.0133317621843799 0.0471311944316244"
        rpy="0 0 0" />
      <mass
        value="0.0687464361626338" />
      <inertia
        ixx="5.33567522465317E-05"
        ixy="1.56730810847073E-05"
        ixz="-2.64879755980296E-05"
        iyy="7.72845954586288E-05"
        iyz="-1.04694439328428E-08"
        izz="6.79134566695116E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg2_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg2_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_leg2_base_proximal_joint"
    type="fixed">
    <origin
      xyz="0.0372072256031853 0 -0.0553386861731434"
      rpy="0.463647609000806 0.420534335283964 0.886077123792613" />
    <parent
      link="spm1_base" />
    <child
      link="spm1_leg2_proximal" />
    <axis
      xyz="-0.977283884192712 0.160787303264985 0.138071187457699" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm1_leg2_distal">
    <inertial>
      <origin
        xyz="0.0276162169494416 -2.21033935599024E-09 0.016604279242538"
        rpy="0 0 0" />
      <mass
        value="0.0249434660620519" />
      <inertia
        ixx="1.23287454032943E-05"
        ixy="-3.16358159287156E-13"
        ixz="-1.02513914563366E-05"
        iyy="2.31995059108402E-05"
        iyz="-1.03787603943472E-12"
        izz="1.41903412871279E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg2_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg2_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_leg2_intermediate_distal"
    type="fixed">
    <origin
      xyz="0 0.0515 0.06775"
      rpy="1.5707963267949 0 0" />
    <parent
      link="spm1_leg2_proximal" />
    <child
      link="spm1_leg2_distal" />
    <axis
      xyz="0.505879363401682 0.804737854124363 -0.310617217526047" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm1_leg3_proximal">
    <inertial>
      <origin
        xyz="0.0415053055437404 0.0133317628046085 0.0471311813949753"
        rpy="0 0 0" />
      <mass
        value="0.0687463808037662" />
      <inertia
        ixx="5.3356747339633E-05"
        ixy="1.56730710204048E-05"
        ixz="-2.64879777611081E-05"
        iyy="7.72845935501277E-05"
        iyz="-1.04596703086526E-08"
        izz="6.79134450678061E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg3_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg3_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_leg3_base_proximal"
    type="fixed">
    <origin
      xyz="0.0372072256031854 0.0479064844253887 0.027637778863637"
      rpy="2.35619449019235 -0.955316618124513 0" />
    <parent
      link="spm1_base" />
    <child
      link="spm1_leg3_proximal" />
    <axis
      xyz="0.138071187457709 0.97728388419271 -0.160787303264989" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm1_leg3_distal">
    <inertial>
      <origin
        xyz="0.0276162724495207 -2.56363466566434E-09 0.0166042770917791"
        rpy="0 0 0" />
      <mass
        value="0.0249434008867255" />
      <inertia
        ixx="1.23287424080632E-05"
        ixy="1.00356953652189E-12"
        ixz="-1.02513872579272E-05"
        iyy="2.31995048527673E-05"
        iyz="-1.19413555194328E-12"
        izz="1.41903461233211E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg3_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg3_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_leg3_intermediate_distal"
    type="fixed">
    <origin
      xyz="0 0.0515 0.06775"
      rpy="1.5707963267949 0 0" />
    <parent
      link="spm1_leg3_proximal" />
    <child
      link="spm1_leg3_distal" />
    <axis
      xyz="0.804737854124363 -0.310617217526042 0.505879363401687" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm1_leg1_proximal">
    <inertial>
      <origin
        xyz="0.0415052942667445 0.0133317355767673 0.0471311806974584"
        rpy="0 0 0" />
      <mass
        value="0.0687465305096129" />
      <inertia
        ixx="5.33568514503992E-05"
        ixy="1.56730722644498E-05"
        ixz="-2.64880476589501E-05"
        iyy="7.72847460891809E-05"
        iyz="-1.04670720805174E-08"
        izz="6.79135058414467E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg1_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg1_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_leg1_base_proximal_joint"
    type="fixed">
    <origin
      xyz="0.0372072256031851 -0.0479064844253887 0.0276377788636364"
      rpy="-2.03444393579569 0.420534335283973 -0.886077123792616" />
    <parent
      link="spm1_base" />
    <child
      link="spm1_leg1_proximal" />
    <axis
      xyz="-0.160787303264994 -0.138071187457703 -0.97728388419271" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm1_leg1_distal">
    <inertial>
      <origin
        xyz="0.0348957276694577 5.75903408295275E-09 0.0278837300135032"
        rpy="0 0 0" />
      <mass
        value="0.0249434138951248" />
      <inertia
        ixx="1.41903422898733E-05"
        ixy="-1.15965212661179E-12"
        ixz="-1.02513859626617E-05"
        iyy="2.31995018577348E-05"
        iyz="-1.74451378988356E-12"
        izz="1.2328741879394E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg1_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_leg1_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_leg1_intermediate_distal_joint"
    type="fixed">
    <origin
      xyz="0.0554999999999999 0 0.0677499999999999"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="spm1_leg1_proximal" />
    <child
      link="spm1_leg1_distal" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm1_platform_x">
    <inertial>
      <origin
        xyz="0.0226505085852742 1.44506361900425E-15 3.0444397003393E-16"
        rpy="0 0 0" />
      <mass
        value="0.0449010465380492" />
      <inertia
        ixx="1.1467986290316E-05"
        ixy="2.73542620010127E-19"
        ixz="1.82638764020904E-20"
        iyy="6.51543829160444E-06"
        iyz="-6.45366313913674E-21"
        izz="6.51543829160443E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_platform_x.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_platform_x.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_platform_joint_x"
    type="revolute">
    <origin
      xyz="0.076323 0 -2.1043E-05"
      rpy="-0.0020319 0 0" />
    <parent
      link="spm1_base" />
    <child
      link="spm1_platform_x" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_car_chassis">
    <inertial>
      <origin
        xyz="0.286381582853564 0.0042753339920861 0.00609282975183455"
        rpy="0 0 0" />
      <mass
        value="9.99428168331442" />
      <inertia
        ixx="0.0796955642882062"
        ixy="-1.13828570081643E-06"
        ixz="-5.4641048420901E-05"
        iyy="0.0942347109708102"
        iyz="-7.93347993847448E-05"
        izz="0.148004102950947" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/head_car_chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/head_car_chassis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_car_chassis_joint"
    type="fixed">
    <origin
      xyz="0.0201658075373096 0 0"
      rpy="0 0 0" />
    <parent
      link="spm1_platform_x" />
    <child
      link="head_car_chassis" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="head_car_wheel_left">
    <inertial>
      <origin
        xyz="-1.42112974165384E-06 -7.66681303061845E-07 -0.0458401618070384"
        rpy="0 0 0" />
      <mass
        value="1.55682391481784" />
      <inertia
        ixx="0.019662072784285"
        ixy="-8.95629138617709E-07"
        ixz="4.85678391040849E-09"
        iyy="0.0196631942351138"
        iyz="-1.44805778309579E-08"
        izz="0.0351217717900471" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/head_car_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/head_car_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_car_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0.276488513878161 0.269530000848736 -0.0369999949337831"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="head_car_chassis" />
    <child
      link="head_car_wheel_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="head_car_wheel_right">
    <inertial>
      <origin
        xyz="-1.42113009686736E-06 -7.66681506270822E-07 0.0458401618070566"
        rpy="0 0 0" />
      <mass
        value="1.55682350721722" />
      <inertia
        ixx="0.0196619814383472"
        ixy="-8.95629138222013E-07"
        ixz="-4.85678372686166E-09"
        iyy="0.0196631028891757"
        iyz="1.44805774183526E-08"
        izz="0.0351215520940666" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/head_car_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/head_car_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_car_wheel_right_joint"
    type="continuous">
    <origin
      xyz="0.276488513878161 -0.269529999151265 -0.0369999949337831"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="head_car_chassis" />
    <child
      link="head_car_wheel_right" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="spm1_platform_y">
    <inertial>
      <origin
        xyz="0.0226505085852743 1.4456667064627E-15 3.0444397003393E-16"
        rpy="0 0 0" />
      <mass
        value="0.0449010465380492" />
      <inertia
        ixx="1.1467986290316E-05"
        ixy="2.73522821499563E-19"
        ixz="1.8237366339761E-20"
        iyy="6.51543829160444E-06"
        iyz="-6.46028058403716E-21"
        izz="6.51543829160443E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_platform_y.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_platform_y.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_platform_joint_y"
    type="revolute">
    <origin
      xyz="0.076323 0 -2.1043E-05"
      rpy="-0.0020319 0 0" />
    <parent
      link="spm1_base" />
    <child
      link="spm1_platform_y" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm1_platform_z">
    <inertial>
      <origin
        xyz="0.0226505085852742 1.4444622256117E-15 3.02709246557953E-16"
        rpy="0 0 0" />
      <mass
        value="0.0449010465380492" />
      <inertia
        ixx="1.1467986290316E-05"
        ixy="2.73536817992726E-19"
        ixz="1.82696548893601E-20"
        iyy="6.51543829160444E-06"
        iyz="-6.43877388811078E-21"
        izz="6.51543829160443E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_platform_z.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm1_platform_z.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm1_platform_joint_z"
    type="revolute">
    <origin
      xyz="0.076323 0 -2.1043E-05"
      rpy="-0.0020319 0 0" />
    <parent
      link="spm1_base" />
    <child
      link="spm1_platform_z" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_base">
    <inertial>
      <origin
        xyz="-0.00921106157110008 -4.10837897018218E-13 -9.67686411344933E-06"
        rpy="0 0 0" />
      <mass
        value="0.383954508133489" />
      <inertia
        ixx="0.000538960992417046"
        ixy="-1.42905749528142E-16"
        ixz="-1.56144171079226E-17"
        iyy="0.000277354645392898"
        iyz="-1.83705506185612E-16"
        izz="0.000284349626167672" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_base_joint"
    type="fixed">
    <origin
      xyz="-0.18 0 0.0820210428191438"
      rpy="0 0 0" />
    <parent
      link="body_car_chassis" />
    <child
      link="spm2_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="spm2_leg2_proximal">
    <inertial>
      <origin
        xyz="0.0415052979813347 0.0133317621843797 0.0471311944316238"
        rpy="0 0 0" />
      <mass
        value="0.0687464361626351" />
      <inertia
        ixx="5.33567522465319E-05"
        ixy="1.56730810847073E-05"
        ixz="-2.64879755980302E-05"
        iyy="7.72845954586298E-05"
        iyz="-1.04694439328039E-08"
        izz="6.79134566695122E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg2_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg2_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_leg2_base_proximal"
    type="fixed">
    <origin
      xyz="-0.0372072256031853 0 -0.0553386861731434"
      rpy="0.463647609000806 0.420534335283964 -2.25551552979718" />
    <parent
      link="spm2_base" />
    <child
      link="spm2_leg2_proximal" />
    <axis
      xyz="-0.505879363401682 -0.310617217526047 -0.804737854124364" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_leg2_distal">
    <inertial>
      <origin
        xyz="0.0276162169494414 -2.21033935599024E-09 0.0166042792425378"
        rpy="0 0 0" />
      <mass
        value="0.0249434660620516" />
      <inertia
        ixx="1.23287454032941E-05"
        ixy="-3.16358147375755E-13"
        ixz="-1.02513914563364E-05"
        iyy="2.31995059108399E-05"
        iyz="-1.03787601232966E-12"
        izz="1.41903412871277E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg2_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg2_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_leg2_intermediate_distal"
    type="fixed">
    <origin
      xyz="0 0.0515 0.06775"
      rpy="1.5707963267949 0 0" />
    <parent
      link="spm2_leg2_proximal" />
    <child
      link="spm2_leg2_distal" />
    <axis
      xyz="0.977283884192712 -0.1380711874577 0.160787303264985" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_leg3_proximal">
    <inertial>
      <origin
        xyz="0.0415053055437407 0.0133317628046087 0.0471311813949756"
        rpy="0 0 0" />
      <mass
        value="0.0687463808037651" />
      <inertia
        ixx="5.33567473396322E-05"
        ixy="1.56730710204047E-05"
        ixz="-2.64879777611073E-05"
        iyy="7.72845935501262E-05"
        iyz="-1.04596703086501E-08"
        izz="6.79134450678051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg3_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg3_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_leg3_base_proximal_joint"
    type="fixed">
    <origin
      xyz="-0.0372072256031855 -0.0479064844253887 0.027637778863637"
      rpy="2.35619449019235 -0.955316618124513 3.14159265358978" />
    <parent
      link="spm2_base" />
    <child
      link="spm2_leg3_proximal" />
    <axis
      xyz="-0.804737854124364 0.505879363401681 0.310617217526047" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_leg3_distal">
    <inertial>
      <origin
        xyz="0.0276162724495203 -2.56363458239761E-09 0.0166042770917787"
        rpy="0 0 0" />
      <mass
        value="0.0249434008867258" />
      <inertia
        ixx="1.23287424080632E-05"
        ixy="1.00356955542131E-12"
        ixz="-1.02513872579272E-05"
        iyy="2.31995048527672E-05"
        iyz="-1.1941355396613E-12"
        izz="1.41903461233211E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg3_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg3_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_leg3_intermediate_distal"
    type="fixed">
    <origin
      xyz="0 0.0514999999999999 0.0677499999999999"
      rpy="1.5707963267949 0 0" />
    <parent
      link="spm2_leg3_proximal" />
    <child
      link="spm2_leg3_distal" />
    <axis
      xyz="-0.138071187457702 0.16078730326499 0.977283884192711" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_leg1_proximal">
    <inertial>
      <origin
        xyz="0.041505294266745 0.0133317355767671 0.047131180697459"
        rpy="0 0 0" />
      <mass
        value="0.0687465305096126" />
      <inertia
        ixx="5.33568514503989E-05"
        ixy="1.56730722644497E-05"
        ixz="-2.64880476589497E-05"
        iyy="7.72847460891797E-05"
        iyz="-1.04670720805242E-08"
        izz="6.79135058414461E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg1_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg1_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_leg1_base_proximal_joint"
    type="fixed">
    <origin
      xyz="-0.0372072256031851 0.0479064844253887 0.0276377788636364"
      rpy="-2.0344439357957 0.420534335283973 2.25551552979718" />
    <parent
      link="spm2_base" />
    <child
      link="spm2_leg1_proximal" />
    <axis
      xyz="0.310617217526046 0.80473785412436 -0.505879363401688" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_leg1_distal">
    <inertial>
      <origin
        xyz="0.0276162699864962 -5.75903424948621E-09 0.016604272330542"
        rpy="0 0 0" />
      <mass
        value="0.0249434138951243" />
      <inertia
        ixx="1.23287418793938E-05"
        ixy="-1.74451378898358E-12"
        ixz="-1.02513859626616E-05"
        iyy="2.31995018577347E-05"
        iyz="-1.15965211687091E-12"
        izz="1.41903422898733E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg1_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_leg1_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_leg1_intermediate_distal_joint"
    type="fixed">
    <origin
      xyz="0 0.0515 0.06775"
      rpy="1.5707963267949 0 0" />
    <parent
      link="spm2_leg1_proximal" />
    <child
      link="spm2_leg1_distal" />
    <axis
      xyz="0.160787303264993 0.977283884192709 -0.138071187457709" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_platform_x">
    <inertial>
      <origin
        xyz="-0.022651 -3.2969E-14 3.4608E-16"
        rpy="0 0 0" />
      <mass
        value="0.044901" />
      <inertia
        ixx="1.1468E-05"
        ixy="7.1531E-18"
        ixz="-1.9113E-20"
        iyy="6.5154E-06"
        iyz="-4.9416E-21"
        izz="6.5154E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_platform_x.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_platform_x.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_platform_joint_x"
    type="revolute">
    <origin
      xyz="-0.076323 0 -2.1043E-05"
      rpy="0.0020319 0 0" />
    <parent
      link="spm2_base" />
    <child
      link="spm2_platform_x" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tail_car_chassis">
    <inertial>
      <origin
        xyz="-0.286172447562098 0.00426448123166465 0.00610150712720943"
        rpy="0 0 0" />
      <mass
        value="9.99428166176595" />
      <inertia
        ixx="0.0796955642548578"
        ixy="-1.26377832224553E-06"
        ixz="6.17621788426359E-05"
        iyy="0.0942352583327486"
        iyz="-0.000189319885678954"
        izz="0.14800355555619" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/tail_car_chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/tail_car_chassis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tail_car_chassis_joint"
    type="fixed">
    <origin
      xyz="-0.0201658075373096 0 0"
      rpy="-0.00203187162984122 0 0" />
    <parent
      link="spm2_platform_x" />
    <child
      link="tail_car_chassis" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="tail_car_wheel_left">
    <inertial>
      <origin
        xyz="-1.42112972900676E-06 -7.66681309029293E-07 -0.0458401618070386"
        rpy="0 0 0" />
      <mass
        value="1.55682391481766" />
      <inertia
        ixx="0.0196620727842825"
        ixy="-8.95629138567204E-07"
        ixz="4.85678375082684E-09"
        iyy="0.0196631942351119"
        iyz="-1.4480578028574E-08"
        izz="0.0351217717900434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/tail_car_wheel_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/tail_car_wheel_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tail_car_wheel_left_joint"
    type="continuous">
    <origin
      xyz="-0.276488513878146 0.269604621962139 -0.0364522685746904"
      rpy="-1.56876445516506 0 0" />
    <parent
      link="tail_car_chassis" />
    <child
      link="tail_car_wheel_left" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="tail_car_wheel_right">
    <inertial>
      <origin
        xyz="-1.42113011025735E-06 -7.66681496473104E-07 0.045840161807055"
        rpy="0 0 0" />
      <mass
        value="1.5568235072174" />
      <inertia
        ixx="0.0196619814383487"
        ixy="-8.95629138469167E-07"
        ixz="-4.85678402760822E-09"
        iyy="0.0196631028891769"
        iyz="1.44805782546282E-08"
        izz="0.0351215520940696" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/tail_car_wheel_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/tail_car_wheel_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tail_car_wheel_right_joint"
    type="continuous">
    <origin
      xyz="-0.276488513878177 -0.269454265283014 -0.0375475685418142"
      rpy="-1.56876445516506 0 0" />
    <parent
      link="tail_car_chassis" />
    <child
      link="tail_car_wheel_right" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="spm2_platform_y">
    <inertial>
      <origin
        xyz="-0.0226505085852743 -3.29721855694227E-14 3.42607886505419E-16"
        rpy="0 0 0" />
      <mass
        value="0.044901046538049" />
      <inertia
        ixx="1.14679862903159E-05"
        ixy="7.15303416108687E-18"
        ixz="-1.91365096093451E-20"
        iyy="6.51543829160437E-06"
        iyz="-4.70665768547886E-21"
        izz="6.51543829160439E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_platform_y.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_platform_y.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_platform_y"
    type="revolute">
    <origin
      xyz="-0.076323 0 -2.1043E-05"
      rpy="0.0020319 0 0" />
    <parent
      link="spm2_base" />
    <child
      link="spm2_platform_y" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="spm2_platform_z">
    <inertial>
      <origin
        xyz="-0.0226505085852744 -3.29709827826376E-14 3.40005801291454E-16"
        rpy="0 0 0" />
      <mass
        value="0.044901046538049" />
      <inertia
        ixx="1.14679862903159E-05"
        ixy="7.15306066442631E-18"
        ixz="-1.91200198144012E-20"
        iyy="6.51543829160437E-06"
        iyz="-4.81915424878606E-21"
        izz="6.51543829160439E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_platform_z.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car_alternative/meshes/spm2_platform_z.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="spm2_platform_joint_z"
    type="revolute">
    <origin
      xyz="-0.076323 0 -2.1043E-05"
      rpy="0.0020319 0 0" />
    <parent
      link="spm2_base" />
    <child
      link="spm2_platform_z" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>