<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="complete_car">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00339845477754219 -0.00100052847056716 -0.552923955849089"
        rpy="0 0 0" />
      <mass
        value="37.7263609389327" />
      <inertia
        ixx="0.488851168223591"
        ixy="-0.000239092147682264"
        ixz="-1.52350970536662E-06"
        iyy="0.556712781881526"
        iyz="1.45828316099706E-05"
        izz="0.351999389465278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://complete_car/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>