<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Spherical_Parallel">
  <link
    name="S1_base_link">
    <inertial>
      <origin
        xyz="-5.68297642564756E-06 -0.0872774523069918 -9.8432025293807E-06"
        rpy="0 0 0" />
      <mass
        value="0.383954508133489" />
      <inertia
        ixx="0.000279103390586857"
        ixy="1.65204926770803E-17"
        ixz="3.02891552499975E-06"
        iyy="0.000538960992417047"
        iyz="-1.43018222246831E-16"
        izz="0.000282600880973714" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="S1_base_proximal_Link1">
    <inertial>
      <origin
        xyz="0.0306150450745581 0.0195861874193624 -0.0394266555578629"
        rpy="0 0 0" />
      <mass
        value="0.0723708688376402" />
      <inertia
        ixx="7.75210527903698E-05"
        ixy="1.04694439328004E-08"
        ixz="-1.56730810847073E-05"
        iyy="6.80404042701312E-05"
        iyz="-2.64879755980296E-05"
        izz="5.34836998471511E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_proximal_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_proximal_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S1_base_proximal_Joint1"
    type="fixed">
    <origin
      xyz="-0.00612372435695815 0.0106066017177982 -0.0115055534994651"
      rpy="-2.35619449019234 0.615479708670389 -1.04719755119659" />
    <parent
      link="S1_base_link" />
    <child
      link="S1_base_proximal_Link1" />
    <axis
      xyz="-0.707106781186543 0 0.707106781186551" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="S1_intermediate_distal_Link1">
    <inertial>
      <origin
        xyz="0.0149999977896608 0.034895720757462 -0.0276162169494416"
        rpy="0 0 0" />
      <mass
        value="0.0249434660620518" />
      <inertia
        ixx="2.31995059108402E-05"
        ixy="1.03787603232603E-12"
        ixz="3.16358159747452E-13"
        iyy="1.41903412871279E-05"
        iyz="-1.02513914563365E-05"
        izz="1.23287454032943E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_intermediate_distal_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_intermediate_distal_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S1_intermediate_distal_Joint1"
    type="fixed">
    <origin
      xyz="0.015 0.015 0"
      rpy="0 0 -1.57079632679489" />
    <parent
      link="S1_base_proximal_Link1" />
    <child
      link="S1_intermediate_distal_Link1" />
    <axis
      xyz="0 0.707106781186543 -0.707106781186552" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="S1_distal_platform_Link1">
    <inertial>
      <origin
        xyz="0.0130793019915812 0.0130793019915814 0.013079301991581"
        rpy="0 0 0" />
      <mass
        value="0.0449345648772936" />
      <inertia
        ixx="8.16631916433441E-06"
        ixy="1.65084933290385E-06"
        ixz="1.65084933290384E-06"
        iyy="8.16631916433442E-06"
        iyz="1.65084933290385E-06"
        izz="8.16631916433442E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_distal_platform_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_distal_platform_Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S1_distal_platform_Joint1"
    type="fixed">
    <origin
      xyz="0.0150000000000001 0 0"
      rpy="3.14159265358979 0 0" />
    <parent
      link="S1_intermediate_distal_Link1" />
    <child
      link="S1_distal_platform_Link1" />
    <axis
      xyz="0 0.707106781186546 -0.707106781186549" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="S1_base_proximal_Link2">
    <inertial>
      <origin
        xyz="0.0306150474102847 0.0195861990132331 -0.0394266611515091"
        rpy="0 0 0" />
      <mass
        value="0.072370813478773" />
      <inertia
        ixx="7.75210508818692E-05"
        ixy="1.04596703085696E-08"
        ixz="-1.56730710204049E-05"
        iyy="6.80403926684261E-05"
        iyz="-2.64879777611082E-05"
        izz="5.34836949402529E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_proximal_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_proximal_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S1_base_proximal_Joint2"
    type="fixed">
    <origin
      xyz="-0.00612372435695794 -0.0106066017177983 -0.0115055534994652"
      rpy="-2.35619449019234 0.615479708670388 1.0471975511966" />
    <parent
      link="S1_base_link" />
    <child
      link="S1_base_proximal_Link2" />
    <axis
      xyz="0.707106781186546 -0.707106781186549 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="S1_intermediate_distal_Link2">
    <inertial>
      <origin
        xyz="0.0149999974363654 0.0348957229082209 -0.0276162724495207"
        rpy="0 0 0" />
      <mass
        value="0.0249434008867252" />
      <inertia
        ixx="2.31995048527672E-05"
        ixy="1.1941355594607E-12"
        ixz="-1.00356953504858E-12"
        iyy="1.4190346123321E-05"
        iyz="-1.02513872579272E-05"
        izz="1.23287424080632E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_intermediate_distal_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_intermediate_distal_Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S1_intermediate_distal_Joint2"
    type="fixed">
    <origin
      xyz="0.015 0.015 0"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="S1_base_proximal_Link2" />
    <child
      link="S1_intermediate_distal_Link2" />
    <axis
      xyz="-0.707106781186548 -0.707106781186546 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="S1_base_proximal_Link3">
    <inertial>
      <origin
        xyz="0.0306150168228699 0.0195862018118837 -0.0394266547391431"
        rpy="0 0 0" />
      <mass
        value="0.072370963184619" />
      <inertia
        ixx="7.75212034209214E-05"
        ixy="1.04670720805045E-08"
        ixz="-1.56730722644498E-05"
        iyy="6.80404534420661E-05"
        iyz="-2.64880476589498E-05"
        izz="5.34837990510187E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_proximal_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_base_proximal_Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S1_base_proximal_Joint3"
    type="fixed">
    <origin
      xyz="0.0122474487139159 0 -0.0115055534994652"
      rpy="-2.35619449019234 0.615479708670389 -3.14159265358979" />
    <parent
      link="S1_base_link" />
    <child
      link="S1_base_proximal_Link3" />
    <axis
      xyz="0 0.707106781186547 -0.707106781186548" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="S1_intermediate_distal_Link3">
    <inertial>
      <origin
        xyz="0.0149999942409658 0.0348957276694576 -0.0276162699864967"
        rpy="0 0 0" />
      <mass
        value="0.0249434138951246" />
      <inertia
        ixx="2.31995018577349E-05"
        ixy="1.15965213878788E-12"
        ixz="1.74451381566512E-12"
        iyy="1.41903422898734E-05"
        iyz="-1.02513859626617E-05"
        izz="1.2328741879394E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_intermediate_distal_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Spherical_Parallel/meshes/S1_intermediate_distal_Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="S1_intermediate_distal_Joint3"
    type="fixed">
    <origin
      xyz="0.015 0.015 0"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="S1_base_proximal_Link3" />
    <child
      link="S1_intermediate_distal_Link3" />
    <axis
      xyz="0.707106781186547 0 0.707106781186549" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>